/* コンテンツの設定(ramenreviewregister.jsp) */
#wrap {
    width : 630px;
    padding: 50px 100px;
    margin-right: auto;
    margin-left: auto;
    border: #006400 1px solid;
    background-color: #f9eec5;
    text-align: left;
}

table.review-upd {
	width: 100%;
	margin: 20px auto;
	font-size : 12px;
	background : #fff;
	border-radius : 10px;
	border-spacing: 0;
	border: none;
	border: #ff8c00 1px solid;
	border-collapse : separate;
	
}

.review-upd th, td {
	padding : 10px;
	border-spacing: 0;
	border: none;
	border: #ff8c00 0.5px dotted;
	border-top: none;
}

.review-upd th {
	 border-left : none;
}

.review-upd td {
    padding : 10px 5px;
    font-size : 11px;
    border-right : none;
    border-left : none;
}

.review-upd tr:last-child th{
	border-bottom: none;
}

.review-upd tr:last-child td{
	border-bottom: none;
}

.review-bottom {
	border-bottom: none;
}

input[type="text"].text-review {
    height: 25px;
    padding: 2;
    border-radius: 5px;
    font-size: 80%;
    width: 45em;
    border: #E5BA73 1px solid;
}

textarea.textarea-review {
    padding: 2;
    border-radius: 5px;
	height: 150px;
    width: 90%;
    border: #E5BA73 1px solid;
}